.logo {
    width: 105px;
    padding-bottom: 0.8em;
}

.h1-index-book {
    color: #fff;
    font-size: 4.5em;
    text-align: center;
    font-weight: bold;
    -webkit-text-stroke: 1px #2fa59b94;
    padding-bottom: 0.8em;
}

.texto-blog {
    color: #000;
    text-align: justify;
}

.relacionado-medio {
    text-align: center;
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 1px;
    border-color: #000;
    display: flex;
    align-items: center;
    padding: 10px 60px;
    margin-top: 1em;
    margin-bottom: 1em;
    position: inherit;
}

.espacio {
    padding-top: 1em;
    padding-bottom: 2em;
    width: 100%;
}

.relacionado-medio a {
    color: #000;
    font-style: italic;
    pointer-events: all;
    cursor: pointer;
}

.relacionado-medio:hover a {
    color: #0d8c79;
}

.btn-whatsapp {
    display: block;
    width: 70px;
    height: 70px;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    z-index: 999;
}

.btn-reservar {
    background: #364757;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    border-style: none;
    border-radius: 5px;
    color: #ffffff;
    margin-bottom: 1.3em;
    padding: 10px 0px;
    z-index: 999;
    transition: 0.6s;
    font-weight: bold;
    cursor: pointer;
}

.btn-reservar:hover {
    color: rgb(255 255 255);
    background: #364757;
    border-style: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 0.4s;
}

h2 {
    color: #0d8c80;
}

.boton-acordion {
    border-style: none;
    font-size: 16px;
    text-align: left;
}

.boton-acordion:focus {
    border-style: none;
    outline: 0px;
    outline: 0px auto;
}

.boton-acordion:hover {
    font-weight: bold;
}

.linea-tours {
    width: 200px;
    height: 2px;
    background: #767676;
    margin: auto;
    margin-bottom: 1em;
}

rojo {
    color: #e91919;
}

.tours-blog {
    text-align: justify;
}

.tours-blog h4 {
    border-bottom-style: dotted;
    border-width: 2px;
    margin-bottom: 0.5em;
}

.tours-blog .a {
    color: #0c9287;
    font-size: 20px;
    padding-right: 0.4em;
}

.tours-blog .a:hover {
    color: #006cff;
}

.tours-blog .b {
    color: #375a5f;
    font-size: 18px;
    padding-right: 0.4em;
}

.tours-blog .b:hover {
    color: #006cff;
}

.enlaces-tours {
    font-weight: bold;
    color: #054f95;
}

.enlaces-tours:hover {
    color: #308671;
}

.enlaces-blog {
    display: block;
    color: #000;
    font-size: 18px;
}

.enlaces-blog:hover {
    color: #0c9287;
}

.details {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 3em;
}

.details p {
    color: #000;
}

.details a {
    color: #000;
}

.details a:hover {
    color: #2fa69b;
}

.sticky {
    position: sticky;
    top: 4em;
}

.acordion {
    background: #ebebeb;
    border-style: none;
    font-size: 20px;
    padding: 0.6em 1em;
    width: 100%;
    text-align: left;
    font-weight: 500;
    color: #0d8c80;
    text-transform: uppercase;
}

.acordion:focus {
    outline-style: none;
}

.book-tours {
    background: #364757;
    padding: 10px 30px;
    border-radius: 5px;
}

.book-tours h4 {
    color: #fff;
    text-align: center;
}

.book-tours label {
    color: #fff;
}

.book-tours button {
    margin-top: 1em;
}

strong {
    font-weight: 700;
}

.form-index {
    margin-top: 35%;
}

.boton-index {
    background: #2fa69b;
    border-style: none;
    padding: 10px 20px 10px 20px;
    color: #fff;
    border-radius: 6px;
    transition: 1s;
}

.boton-index:hover {
    background: #fff;
    color: #000;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    font-weight: 500;
    transition: 1s;
}

.row-menu {
    width: 120%;
}

.icon-menu {
    float: left;
}

.h1-index {
    text-align: center;
    margin-top: 2em;
    font-size: 3em;
    margin-bottom: 0.6em;
}

.h2-tierras {
    color: #000;
    font-weight: 400;
    margin-bottom: 1em;
}

.p-banner a {
    color: #fff;
    background: #2fa69b;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
}

.p-banner a:hover {
    background: #003fa7;
}

.h1-destinos {
    color: #fff;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    margin: auto;
    margin-top: 7em;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

.paneles li {
    list-style: none;
}

.p-salkantay {
    color: #000;
    font-size: 18px;
    text-align: justify;
}

.h3-book-pop-up {
    margin-top: 2em;
    text-align: center;
    margin-bottom: 1em;
}

.space {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
}

.full-img {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.full-img-card {
    width: 25%;
    height: 300px;
    background: grey;
    display: block;
    float: left;
}

.oscuro {
    background: transparent;
    transition: 1s;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.uno:hover .oscuro {
    background: #00000087;
    transition: 1s;
}

.uno {
    background: url('../img/thumb/Tours-de-aventura-peru.webp');
    background-size: cover;
    background-position: center center;
}

.dos {
    background: url('../img/thumb/Camino-Inca-2-Dias-Tierras-Vivas.webp');
    background-size: cover;
    background-position: center center;
}

.tres {
    background: url('../img/thumb/cusco-imperdible-tierras-vivas.webp');
    background-size: cover;
    background-position: center center;
}

.cuatro {
    background: url('../img/thumb/tejedora-chinchero.webp');
    background-size: cover;
    background-position: center center;
}

.dos:hover .oscuro {
    background: #00000087;
    transition: 1s;
}

.tres:hover .oscuro {
    background: #00000087;
    transition: 1s;
}

.cuatro:hover .oscuro {
    background: #00000087;
    transition: 1s;
}

.full-img h5 {
    color: #fff;
    text-align: center;
    padding-top: 5em;
    font-size: 1.4em;
    font-weight: 700;
}

.full-img p {
    margin-left: -80em;
    transition: 1s;
}

.uno:hover p {
    margin-left: 0em;
    text-align: center;
    transition: 1s;
}

.dos:hover p {
    margin-left: 0em;
    text-align: center;
    transition: 1s;
}

.tres:hover p {
    margin-left: 0em;
    text-align: center;
    transition: 1s;
}

.cuatro:hover p {
    margin-left: 0em;
    text-align: center;
    transition: 1s;
}

.full-img a {
    margin-right: -40em;
    text-align: center;
    color: #fff;
    background: transparent;
    padding: 10px 15px;
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    border-radius: 4px;
    transition: 1s;
}

.uno:hover a {
    margin-right: 0em;
    transition: 1s;
}

.dos:hover a {
    margin-right: 0em;
    transition: 1s;
}

.tres:hover a {
    margin-right: 0em;
    transition: 1s;
}

.cuatro:hover a {
    margin-right: 0em;
    transition: 1s;
}

.full-img a:hover {
    background: #2fa69b;
    border-style: none;
}

.card-new {
    transition: 0.6s;
    margin: auto;
    margin-bottom: 2em;
}

.card-new:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.6s;
}

.boton-card {
    background: #2fa69b;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    color: #fff;
    transition: 0.6s;
}

.boton-card:hover {
    background: #0a877b;
    color: #fff;
    transition: 0.6s;
}

.text-card {
    color: #000;
    text-align: center;
}

footer {
    width: 100%;
    background: #000;
    font-size: 15px;
}

footer p {
    color: #fff;
}

.h4-foot {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 3em;
}

.linea-foot {
    height: 4px;
    width: 15%;
    background: #2fa69b;
    margin: auto;
    margin-bottom: 2em;
}

.a-foot {
    color: #fff;
    display: block;
    font-size: 15px;
}

.a-foot:hover {
    color: #34e8d7;
}

.social-foot a {
    color: #fff;
    font-size: 20px;
}

.social-foot a:hover {
    color: #34e8d7;
}

.banner {
    height: 500px;
    width: 100%;
    background: linear-gradient(to bottom right, #000000a8, #00000075), url(../img/galeria/camino-inca-reserva.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.banner-destinos {
    height: 500px;
    width: 100%;
    background: linear-gradient(to bottom right, #000000a8, #00000075), url(../img/panoramico/los-mejores-destinos-para-peru.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.banner-imperdible {
    height: 500px;
    width: 100%;
    background: linear-gradient(to bottom right, #00000036, #00000026), url(../img/panoramico/cusco-imperdible-tierras-vivas.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.banner-aventuras {
    height: 500px;
    width: 100%;
    background: linear-gradient(to bottom right, #000000a8, #00000075), url(../img/panoramico/camino-inca-reserva.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.banner-container {
    margin: auto;
    width: 45%;
}

.h3-banner {
    color: #fff;
    font-size: 3.4em;
    text-align: center;
    padding-top: 2.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.p-banner {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}

.copy {
    text-align: center;
    color: #fff;
    margin-top: 2em;
    padding-top: 2em;
    border-top-style: solid;
    border-width: 0.1px;
    padding-bottom: 2em;
}

.copy h5 {
    font-size: 15px;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .h1-destinos {
        margin-top: 7em;
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .form-index {
        margin-top: 55%;
    }
    .row-menu {
        width: 100%;
    }
    .icon-menu {
        float: right;
    }
    .h1-index-book {
        font-size: 2.5em;
    }
    .full-img-card {
        width: 100%;
    }
    .h1-destinos {
        font-size: 1.8em;
        margin-top: 8em;
    }
    .banner-container {
        width: 90%;
    }
    .h3-banner {
        font-size: 2.4em;
    }
    .banner {
        background: linear-gradient(to bottom right, #000000a8, #00000075), url(../img/responsive/reservas-camino-inca-peru.webp);
        background-repeat: no-repeat;
        background-position: center;
        align-content: center;
        background-size: cover;
    }
    .banner-destinos {
        background: linear-gradient(to bottom right, #000000a8, #00000075), url(../img/responsive/los-mejores-destinos-para-peru.webp);
        background-repeat: no-repeat;
        background-position: center;
        align-content: center;
        background-size: cover;
    }
    .banner-aventuras {
        background: linear-gradient(to bottom right, #000000a8, #00000075), url(../img/responsive/camino-inca-reserva.webp);
        background-repeat: no-repeat;
        background-position: center;
        align-content: center;
        background-size: cover;
    }
}